@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap");

$font-family: "Roboto", sans-serif;

* {
  font-family: $font-family;
}

@for $i from 1 through 10 {
  .fs-#{$i} {
    font-size: $i * 10px;
  }
}
